body {
  background-color: #fdfdfd;
  transition: opacity 0.25s ease-in;
}

#content {
  margin: auto;
  max-width: 32em;
  font-size: 1.1em;
  line-height: 1.5em;
  letter-spacing: 0.01em;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  text-rendering: optimizeLegibility;
  color: #2f2f2f;
  padding: 1em 2em;
}

#chart {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

h2 {
  margin-top: 1.25em;
}

a {
  color: #466db2;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  margin-bottom: 0.75em;
}

li:last-child {
  margin-bottom: 0;
}

.hidden {
  opacity: 0;
}

p,
.paragraph {
  margin-top: 1em;
  margin-bottom: 1em;
}

.enumeration {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.enumeration li {
  display: inline;
}

.enumeration li::after {
  content: ',';
}

.enumeration li:last-child::after {
  content: '.';
}

@media (max-width: 700px) {
  #chart {
    display: none;
  }

  .hidden {
    opacity: 1;
  }
}

@media print {
  body {
    font-size: 0.75em;
    padding: 0;
  }

  h1,
  h2 {
    text-align: center;
    font-size: 1.2em;
    margin: 1em 0;
  }

  a {
    font-weight: 400;
  }

  p {
    text-align: justify;
  }

  #miscellanea,
  #chart {
    display: none;
  }
}
